{% extends "./base.html.twig" %}
{% block title %}Modification nuitées{% endblock title %}
{% block add %}
{% for nuit in nuitees %}
  
<div class="container">
  <div class="row">
    <div class="col-12">
      
      <form action="" method="POST" enctype="multipart/form-data">
      <div class="form-row">
          <div class="form-group col-sm-12">
            <h4 class="text-center">Modification des nuités</h4>
            <hr />
          </div>
        </div>
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label for="dateentre">Date d'entrée</label>
                        <input type="date" name="nuientre" id="dateentre" value="{{nuit.NUI_DateEntree}}" class="form-control border-left-info">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="nuientmotif">Le motif d'entrée</label>
                        <input type="text" name="nuientmotif" id="nuientmotif" value="{{nuit.NUI_MotifEntree}}" class="form-control border-left-info"
                            placeholder="Veuillez saisir le motif d'entrée">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label for="datesortie">Date de sortie</label>
                        <input type="date" name="nuisortie" value="{{nuit.NUI_DateSortie}}" id="datesortie" class="form-control border-left-info">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="nuisortmotif">Le motif de sortie</label>
                        <input type="text" name="nuientmotif" id="nuientmotif" value="{{nuit.NUI_MotifSortie}}" class="form-control border-left-info"
                            placeholder="Veuillez saisir le motif d'entrée">
                    </div>
                </div>

               

                <div class="form-row ">
                    <div class="form-group col-sm-12">
                      <label for="">Votre commentaire</label>
                      <textarea name="nuicoment" id="nuicoment"  cols="30" rows="5"  class="form-control rounded-0" value="">{{nuit.NUI_Commentaire}}</textarea>
                    </div>
                    <div class="form-group col-sm-12 mt-3">

                        <button type="submit" name="nuitees" value="Envoyer"
                            class="btn  btn-primary btn-lg btn-block bg-info   border-0 border-left-info  ">Envoyer</button>
                    </div>
                </div>


            </form>
                    </div>
                  </div>
                  
                </div>
                
                
                {% endfor %}
                {% endblock add %}